pipeline/1stproject.json
{
	"name": "1stproject",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE \n[stage].[StudentScores]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Student code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Student name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Language",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Maths",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Maths",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Phiysics",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Physics",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Chemistry",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Chemistry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Computersicence",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Computerscience",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Excel1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "proctoinsertRecord",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dim_tblStudentScores]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "proctoinsertRecord",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n            Studentid, \n            StudentName\nFROM [STAGE].[StudentScores]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "studentid",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Studentid",
						"type": "Expression"
					}
				}
			},
			{
				"name": "emailsent",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod2-16.southindia.logic.azure.com:443/workflows/07e6aeb8ba3c4a648f0d7778bbe0a5fd/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=ri-JQUKCyXV0YAA4ac-uccndWRz6gVxCFKL1P0ld7aI",
					"body": {
						"pipelineName": "pipeline1",
						"pipelineId": "0b4bb70f-b223-48a9-8ff8-4d82c17d4b4c",
						"activityName": "ADF_Activity1"
					}
				}
			}
		],
		"variables": {
			"studentid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}